body{
    font-family: sans-serif;
    background: #eee;
}
header{
    display: flex;
    flex-wrap: wrap;
}

ul{
    display: flex;
    letter-spacing: 0.5px;

}
li{
    list-style: none;
    padding: 5px;
}
p{
    margin: 5px 0;
}