body{
    font-family: sans-serif;
    background: #eee;
}
/*mon header*/
header{
    width: 100%;
}
div.header{
    margin: 5px;
}
img{
    border-radius: 50%;
}
a{
    text-decoration: none;
    border-bottom: none;
}
a:hover{
    background: #51f555;
    border-bottom: 0.5px;
    text-decoration: #777777;
}
ul{
    text-align: end;
    float: right;
    letter-spacing: 0.5px;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    padding: 5px;

}
/*main*/
h1 {
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
    margin: 5px 0;
}

/*footer*/
footer{
    bottom: 0;
    position: fixed;
    background: #777;
    width: 100%;
}
form{
    float: right;
    margin: 5px;

}